/*Imported fonts*/


@font-face {
  font-family: 'Monoregular';
  src: url('../styles/webfonts/IBMPlexMono-Regular.ttf');
}

@font-face {
  font-family: 'italic';
  src: url('../styles/webfonts/IBMPlexMono-Italic.ttf');
}

@font-face {
  font-family: 'medium';
  src: url('../styles/webfonts/IBMPlexMono-Medium.ttf');
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('../styles/webfonts/IBMPlexSans-Regular.ttf');
}


/*Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}



/*Grid container for mobile*/
@media all and (max-width: 550px){
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 44px repeat(5,auto-fit);
  }

  /*Header style*/

  header {
    display: grid;
    grid-template-rows: repeat(4, auto-fit);
  }

  header .logo{
    width: 24px;
    height: 24px;
  
  }

  header ul li{
    grid: 1/1;
    place-items: start end;
  } 

  h1 {
    font-family: 'IBMPlexSans', sans-serif;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
  }

  h2 {
    font-family: 'IBMPlexSans', sans-serif;
    letter-spacing: 0;
    font-size: 36px;
  }

  /*Main and sections grid*/

  main {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: repeat(6,autofit);
  }


  
}